<!-- Header Partial -->
<!-- add inside top of body-->

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: flex; justify-content: space-between;">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <!--adding login form-->
      <div>
        <% if(user){ %>
          <form class="form-inline justify-content-right" action="/logout" method="POST">
            <span style="font-weight: 500;">Logged in as: <%= user.email %></span>
            <button type="submit" class="btn btn-warning" style="margin-left: 1em;">Logout</button>
          </form>
          <% } else { %>
            <div style="display: flex;">
              <a class="nav-item nav-link" href="/register"><button class="btn btn-light">Register</button></a>
              <a class="nav-item nav-link" href="/login"><button class="btn btn-primary">Login</button></a>
            </div>
            <% } %>
      </div>
      <!---->
    </div>
  </nav>
</header>