<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp Register</title>
</head>

<body>
<%- include('partials/_header') %>

  <main style="margin: 1em;">
    <h3>Login</h3>
    <form action="/login" method="POST">
      <div class="form-group mb-2">
        <!-- Email & Password -->
        <label for="email">Email Address:</label>
        <input class="form-control" type="email" name="email" placeholder="email@mail.com"
          style="width: 300px; margin: 1em">
        <label for="email">password:</label>
        <input class="form-control" type="password" name="password" placeholder="password"
          style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </main>
</body>
</html>